/*--- Definindo a fonte da pagina ---*/
@font-face {
    font-family: 'Montserrat';
    src: url('../Font/Montserrat/Montserrat-VariableFont_wght.ttf');
}
/*--- Resetando o Documento ---*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html, body {
    height: 100vh;
}
/*--- Container Campground ---*/
.campSingle_cont {
    display: grid;
    grid-template-areas:
    "map info"
    "map info"
    "map info"
    ;
    justify-content: center;
    gap: 35px;
}
/*--- Container do Mapa ---*/
.map_cont {
    grid-area: map;
}
/*--- Mapa ---*/
.map {
    padding: 40px;
    border: 1px solid #dadada;
    border-radius: 5px;
}
.map iframe {
    visibility: visible !important;
}
.map a {
    display: none;
}
/*--- Container das Informações ---*/
.info {
    grid-area: info;
    gap: 40px;
    display: grid;
}
/*--- Container do Conteudo & Container dos Comentários ---*/
.content, .comments_cont {
    padding: 40px;
    border: 1px solid #dadada;
    border-radius: 5px;
}
.content img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}
.content h2, .comments_single h3 {
    float: left;
    font-size: 22px;
    width: 50%;
}
.content h3, .comments_single h4 {
    float: right;
    width: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: right;
}
.content p, .comments_single p {
    margin: 10px 0;
    font-size: 15px;
}
.content p, .content em, .comments_single p {
    font-weight: 500;
    color: #898989;
}
.content em {
    font-size: 14px;
}
.comments_cont {
    padding-top: 20px;
    padding-bottom: 45px;
}
/*--- Comentários ---*/
.comments_single {
    padding: 20px 0;
    border-bottom: 1px solid #dadada;
    border-radius: 3px;
}
.comments_single h3 {
    font-size: 18px;
}
.comments_single h4 {
    font-size: 14px;
    color: #8c8c8c;
}
/*--- Botão para adicionar um comentário ---*/
.comments_cont button {
    margin-top: 20px;
    float: right;
    cursor: pointer;
    transition: 0.7s;
    padding: 15px 20px;
    background-color: #010101;
    border-color: #010101;
    color: #fafafa;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 500;
}
.comments_cont button:hover {
    background-color: #fafafa;
    color: #010101;
    transform: scale(1.1);
}
.comments_cont button i {
    margin-right: 9px;
}
/*--- Rodape ---*/
footer {
    padding: 45px 0;
}