/*--- Definindo a fonte da pagina ---*/
@font-face {
    font-family: 'Montserrat';
    src: url('../Font/Montserrat/Montserrat-VariableFont_wght.ttf');
}
/*--- Resetando o Documento ---*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html, body {
    height: 100vh;
}