/* Definindp a fotne da pagina */
@font-face {
    font-family: Montserrat;
    src: url('../Font/Montserrat/Montserrat-VariableFont_wght.ttf');
}
/* Resetando o documento e aplicando a fonte */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* Tornando a altura da pagina responsiva */
html, body {
    height: 100vh;
}
/* Div de Centralização */
.center {
    padding: 40px 140px;
}
/*--- Fluxo da Pagina ---*/
.clear {
    clear: both;
}
/* Cabeçalho */
.header_mob {
    display: none;
}
.menu_cont {
    width: 100%;
}
.menu_cont > img {
    width: 20%;
    background-color: #f9f6f1;
    padding: 9px;
    transition: 0.7s;
    cursor: pointer;
    border-radius: 5px;
    float: right;
}
.menu_cont > img:hover, .menu_cont > img:active {
    transform: scale(1.1);
}
.menu_cont nav {
    position: relative;
}
.menu_cont nav ul {
    display: none;
    list-style-type: none;
    background-color: #fafafa;
    border: 2px solid #010101;
    position: absolute;
    padding: 8px;
    border-radius: 5px;
    right: 0;
    width: 95%;
}
.menu_cont nav li {
    display: inline-block;
    width: 100%;
    transition: 0.7s;
    text-align: center;
}
.menu_cont a {
    text-decoration: none;
    color: #010101;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    display: inline-block;
    font-weight: bold;
    transition: 0.7s;
    padding: 10px 0;
}
.menu_cont a:hover {
    background-color: #010101;
    color: #fafafa;
    transform: scale(1.03);
}
.menu_cont li img {
    width: 9%;
    padding: 10px 0;
}
header {
    padding-bottom: 40px;
}
.header_desk {
    display: flex;
    justify-content: space-between;
}
header img {
    width: 60%;
}
.header_desk .logo {
    display: flex;
    align-items: center;
}
.logo a {
    display: inline-block;
    text-decoration: none;
    color: #707070;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 2px;
    font-size: 14px;
    transition: 0.7s;
    vertical-align: middle;
}
.logo a:hover {
    transform: scale(1.1);
}
.registerLogin_box a:nth-of-type(2) {
    background-color: #010101;
    color: #fafafa;
    font-weight: 500;
    display: inline-block;
    border-radius: 5px;
    padding: 14px 18px;
    font-size: 14px;
    transition: 0.7s;
    text-decoration: none;
    border: 3px solid #010101;
}
.registerLogin_box a:nth-of-type(1) {
    color: #808080;
    background-color: #fafafa;
    border: 0;
    display: inline-block;  
    text-decoration: none;
    font-weight: 500;
    transition: 0.7s;
    margin-right: 20px;
    font-size: 14px;
}
.registerLogin_box a:nth-of-type(2):hover {
    background-color: #fafafa;
    color: #010101;
    transform: scale(1.1);
}
.registerLogin_box a:nth-of-type(1):hover {
    transform: scale(1.1);
}
/*--- Caixa Welcome ---*/
.welcome_box {
    background-color: #f9f6f1;
    padding: 50px 40px;
}
.welcome_box h1 {
    font-size: 32px;
}
.welcome_box p {
    margin-top: -18px;
    line-height: 25px;
    font-size: 15.3px;
    font-weight: 500;
    white-space: pre-line;
}
.welcome_box form {
    display: flex;
    margin: 16px 0 17px;
}
.form_group {
    position: relative;
    width: 16.5%;
}
.welcome_box input {
    height: 60px;
    font-size: 16px;
    width: 100%;
    transition: 0.7s;
    font-weight: 500;
    padding-left: 43px;
    border-radius: 5px;
    border: 2px solid #e1e1e1;
}
.form_group img {
    position: absolute;
    left: 7%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
}
.welcome_box .form_group input:hover {
    border-color: #ccc;
}
.welcome_box .form_group input:focus {
    outline: 0;
    border-color: #999;
}
.welcome_box form > input {
    background-color: #010101;
    color: #fafafa;
    margin-left: 15px;
    width: 7%;
    padding-left: 0;
    cursor: pointer;
    border-color: #010101;
}
.welcome_box form > input:hover {
    background-color: #fafafa;
    color: #010101;
    transform: scale(1.1);
}
.welcome_box a {
    font-size: 14px;
    color: #606060;
    font-weight: 500;
    transition: 0.7s;
    display: inline-block;
}
.welcome_box a:hover {
    color: #999;
    transform: scale(1.05) translateX(35px);
}
/*--- Container dos Campgrounds ---*/
.campgrounds_cont {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
}
/*--- Colunas dos Campgrounds ---*/
.campgrounds_column {
    display: flex;
    justify-content: space-between;
}
.campgrounds_column:nth-of-type(1) {
    margin-bottom: 30px;
}
/*--- Caixa dos Campgrounds ---*/
.campgrounds_single {
    padding: 15px;
    border-radius: 5px;
    width: calc(100% / 3);
    border: 1px solid #dadada;
}
.campgrounds_single:nth-of-type(2) {
    margin: 0 30px;
}
.campgrounds_single img {
    width: 100%;
    border-radius: 5px;
}
.campgrounds_single h3 {
    font-size: 17px;
    margin-top: 13px;
}
.campgrounds_single p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-top: -18px;
    white-space: pre-line;
}
.campgrounds_single a {
    display: inline-block;
    margin-top: 15px;
    background-color: #fafafa;
    color: #010101;
    font-weight: bold;
    padding: 18px 0;
    transition: 0.7s;
    width: 100%;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #dadada;
    border-radius: 5px;
}
.campgrounds_single a:hover {
    background-color: #010101;
    color: #fafafa;
    border-color: #010101;
    transform: scale(1.02);
}
/*--- Rodape ---*/
footer {
    padding: 30px 0;
}
footer img {
    width: 6.75%;
}
/*--- Responsivo: mobile ---*/
@media  screen and (max-width: 600px) {
    /* Div de Centralização */
    .center {
        padding: 40px 20px;
    }
    /*--- Cabeçalho ---*/
    .header_desk {
        display: none;
    }
    .header_mob {
        display: flex;
        justify-content: space-between;
    }
    .header_mob > img {
        width: 35%;
    }
    /*--- Caixa Welcome ---*/
    .welcome_box {
        padding: 35px;
    }
    .welcome_box h1 {
        font-size: 27.9px;
    }
    .welcome_box p {
        white-space: normal;
        margin-top: 10px;
        line-height: 22px;
        font-size: 13px;
    }
    /*--- Formulário ---*/
    .welcome_box form {
        flex-wrap: wrap;
        margin: 13px 0;
    }
    .form_group img {
        top: 49%;
        transform: translateY(-49%);
    }
    .form_group input {
        padding-top: 2px;
    }
    .welcome_box form > input, .form_group, .form_group input {
        width: 100%;
    }
    .welcome_box form > input {
        margin: 15px 0 0;
    }
    .welcome_box input:nth-of-type(2) {
        margin: 7px 0 13px;
    }
    /*--- Colunas dos Campgrounds ---*/
    .campgrounds_column {
        flex-direction: column;
        justify-content: normal;
    }
    .campgrounds_column:nth-of-type(1) {
        margin-bottom: 17px;
    }
    /*--- Caixa dos Campgrounds ---*/
    .campgrounds_single {
        width: 100%;
    }
    .campgrounds_single:nth-of-type(2) {
        margin: 17px 0;
    }
    /*--- Rodape ---*/
    footer {
        padding: 25px 0;
    }
    footer img {
        width: 32%;
    }
}
/*--- Responsivo: Tablet ---*/
@media screen and (min-width: 600px) and (max-width: 1024px) {
    /* Div de Centralização */
    .center {
        padding: 40px 20px;
    }
    /*--- Cabeçalho ---*/
    .header_desk {
        display: none;
    }
    .header_mob {
        display: flex;
        justify-content: space-between;
    }
    .header_mob > img {
        width: 19%;
    }
    .menu_cont > img {
        width: 9%;
    }
    .menu_cont nav ul {
        width: 50%;
    }
    .menu_cont li img {
        width: 6%;
    }
    /*--- Caixa Welcome ---*/
    .welcome_box h1 {
        font-size: 30px;
    }
    .welcome_box p {
        font-size: 14.3px;
        margin-top: -21px;
    }
    .welcome_box form {
        margin: 10px 0 11px;
    }
    .welcome_box input {
        height: 57px;
    }
    .welcome_box input:nth-of-type(2) {
        width: 20%;
    }
    .form_group {
        width: 50%;   
    }
    .form_group input {
        padding-left: 48px;
    }
    .form_group img {
        left: 9%;
    }
    .welcome_box form > input {
        width: 20%;
    }
    /*--- Container dos Campgrounds ---*/
    .campgrounds_cont {
        flex-direction: row;
        justify-content: space-around;
    }
    /*--- Colunas dos Campgrounds ---*/
    .campgrounds_column {
        flex-direction: column;
        width: 46%;
    }
    .campgrounds_column:nth-of-type(1) {
        margin: 0;
    }
    /*--- Caixas dos Campgrounds ---*/
    .campgrounds_single {
        width: 100%;
    }
    .campgrounds_single:nth-of-type(2) {
        margin: 0;
    }
    .campgrounds_single:not(:last-of-type) {
        margin-bottom: 23px;
    }
    /*--- Rodape ---*/
    footer img {
        width: 19%;
    }
}
@media screen and (width: 768px) {
    /*--- Caixa Welcome ---*/
    .welcome_box h1 {
        font-size: 32px;
    }
    .welcome_box p {
        font-size: 15.35px;
    }
    .form_group {
        width: 39%;
    }
    .form_group img {
        left: 8%;
    }
    .welcome_box form > input {
        width: 17%;
    }
    /*--- Colunas dos Campgrounds ---*/
    .campgrounds_column {
        width: 47%;
    }
}