/* Definindp a fotne da pagina */
@font-face {
    font-family: Montserrat;
    src: url('../Font/Montserrat/Montserrat-VariableFont_wght.ttf');
}
/* Resetando o documento e aplicando a fonte */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* Tornando a altura da pagina responsiva */
html, body {
    height: 100vh;
}
/* Div de Centralização */
.center {
    padding: 40px 140px;
}
/* Cabeçalho */
header {
    display: flex;
    padding-bottom: 40px;
    justify-content: space-between;
}
header img {
    width: 60%;
}
.logo {
    display: flex;
    align-items: center;
}
.logo a {
    display: inline-block;
    text-decoration: none;
    color: #707070;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 2px;
    font-size: 14px;
    transition: 0.7s;
    vertical-align: middle;
}
.logo a:hover {
    transform: scale(1.1);
}
.buttons button:nth-of-type(2) {
    background-color: #010101;
    color: #fafafa;
    font-weight: 500;
    border-radius: 5px;
    padding: 14px 18px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.7s;
    border: 3px solid #010101;
}
.buttons button:nth-of-type(1) {
    color: #808080;
    background-color: #fafafa;
    border: 0;  
    font-weight: 500;
    cursor: pointer;
    transition: 0.7s;
    margin-right: 20px;
    font-size: 14px;
}
.buttons button:nth-of-type(2):hover {
    background-color: #fafafa;
    color: #010101;
    transform: scale(1.1);
}
.buttons button:nth-of-type(1):hover {
    transform: scale(1.1);
}
/*--- Caixa Welcome ---*/
.welcome_box {
    background-color: #f9f6f1;
    padding: 50px 40px;
}
.welcome_box h1 {
    font-size: 32px;
}
.welcome_box p {
    margin-top: -18px;
    line-height: 25px;
    font-size: 15.3px;
    font-weight: 500;
    white-space: pre-line;
}
.welcome_box input {
    height: 50px;
    font-size: 15px;
    width: 16.9%;
    transition: 0.7s;
    margin: 16px 0 13px;
    font-weight: 500;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px solid #e1e1e1;
}
.welcome_box input:nth-of-type(1):hover {
    border-color: #ccc;
}
.welcome_box input:nth-of-type(1):focus {
    outline: 0;
    border-color: #999;
}
.welcome_box input:nth-of-type(2) {
    background-color: #010101;
    color: #fafafa;
    padding-left: 0;
    width: 7.1%;
    margin-left: 10px;
    cursor: pointer;
    border-color: #010101;
}
.welcome_box input:nth-of-type(2):hover {
    background-color: #fafafa;
    color: #010101;
    transform: scale(1.1);
}
.welcome_box a {
    width: 100%;
    font-size: 14px;
    color: #606060;
    font-weight: 500;
    transition: 0.7s;
    display: inline-block;
}
.welcome_box a:hover {
    color: #999;
    transform: scale(1.05) translateX(35px);
}