/* Definindp a fotne da pagina */
@font-face {
    font-family: Montserrat;
    src: url('../Font/Montserrat/Montserrat-VariableFont_wght.ttf');
}
/* Resetando o documento e aplicando a fonte */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* Tornando a altura da pagina responsiva */
html, body {
    height: 100vh;
    background-color: #f9f6f1;
}
header {
    width: 100%;
    padding: 45px 12px 12px 170px;
}
header img {
    width: 8%;
}
section {
    display: flex;
}
.img {
    background-image: url('../imgs/Hero\ Image.jpg');
    background-size: cover;
    padding-top: 55%;
    width: 41%;
    position: absolute;
    right: 0;
    z-index: 10;
    top: -20px;
    background-position: center;
}
.content {
    width: 59%;
    padding: 140px 0 0 170px;
}
.content h1 {
    font-size: 60px;
}
.content > p {
    margin: 10px 0 20px;
    line-height: 28px;
    font-size: 18.3px;
    color: #716e69;
    font-weight: 500;
}
.content span {
    width: 100%;
    display: inline-block;
}
.content span:not(:last-of-type) {
    margin-bottom: 13px;
} 
.content span p {
    display: inline-block;
    font-size: 18.3px;
    top: 2.5px;
    position: relative;
    color: #716e69;
    font-weight: 500;
}
span img {
    display: inline-block;
    margin-right: 10px;
    height: 27px;
    width: 27px; 
    vertical-align: middle;
}
.content a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    padding: 19px 24px;
    margin-top: 25px;
    transition: 0.7s;
    border-radius: 5px;
    color: #fafafa;
    border: 3px solid #010101;
    background-color: #010101;
}
.content a:hover, .content a:active {
    background-color: #fafafa;
    color: #010101;
    transform: scale(1.1);
}
.content > p:last-of-type {
    margin: 40px 0 10px;
}
.partners_logo img:nth-of-type(1) {
    width: 11%;
}
.partners_logo img:nth-of-type(2) {
    margin: 0 27px;
    width: 17.5%;
}
.partners_logo img:nth-of-type(3) {
    width: 22%;
}
/*--- Responsivo: mobile ---*/
@media screen and (max-width: 600px) {
    header {
        padding: 30px 0 30px 15px;
    }
    
    header img {
        width: 33%;
    }
    section {
        display: block;
        padding-bottom: 28px;
    }
    .img {
        width: 100%;
        padding-top: 100%;
        position: static;
    }
    .content {
        width: 100%;
        padding: 35px 0 0 15px;
    }
    .content h1 {
        font-size: 32px;
        line-height: 35px;
    }
    
    .content > p {
        margin: 7px 0 20px;
        line-height: 23px;
        font-size: 15px;
    }
    .content > p br {
        display: none;
    }
    .content span p {
        font-size: 15px;
    }
    span img {
        height: 24px;
        width: 24px; 
    }
    .content a {
        font-size: 15px;
        padding: 15px 22px;
        margin-top: 25px;
    }
    .content > p:last-of-type {
        margin: 28px 0 6px;
    }    
    .partners_logo img:nth-of-type(1) {
        width: 20%;
    }
    .partners_logo img:nth-of-type(2) {
        width: 31%;
        margin: 0;
    }
    .partners_logo img:nth-of-type(3) {
        width: 40%;
    }
}
/*--- Responsivo: tablet ---*/
@media screen and (max-width: 1080px) {
    header {
        padding: 35px 0 35px 38px;
    }
    header img {
        width: 19%;
    }
    section {
        display: block;
        padding-bottom: 32px;
    }
    .img {
        width: 100%;
        padding-top: 100%;
        position: static;
    }
    .content {
        width: 100%;
        padding: 35px 0 0 38px;
    }
    .content h1 {
        font-size: 42px;
        line-height: 45px;
    }
    
    .content > p {
        margin: 10px 0 13px;
        line-height: 22px;
        font-size: 14px;
    }
    .content > p br {
        display: none;
    }
    .content span:not(:last-of-type) {
        margin-bottom: 11px;
    }
    span img {
        height: 20px;
        width: 20px;
        margin-right: 5px; 
    }
    .content span p {
        font-size: 14px;
        top: 1px;   
    }
    .content a {
        font-size: 14px;
        padding: 15px 17px;
        margin-top: 20px;
    }
    .content > p:last-of-type {
        margin: 30px 0 7px;
    }    
    .partners_logo img:nth-of-type(1) {
        width: 14%;
    }
    .partners_logo img:nth-of-type(2) {
        width: 22%;
        margin: 0 15px;
    }
    .partners_logo img:nth-of-type(3) {
        width: 27%;
    }
}